body {
  background-color: rgb(255, 192, 254);
  padding: 20px 0px;
}

.my-banner {
  padding:150px;
  background-size: cover;
  background-position: center;
}

.my-container {
  height: 100%;
}

.page-title {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
  font-weight: bold;
  font-size: 50px;
}

.display-none {
  display: none;
}
